body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    padding: 30px;
    font-size: larger;
    background: none;
}
button:hover{
    background-color: rgba(8, 249, 8, 0.448);
    cursor: pointer;
}
button:active{
    background-color:rgba(8, 249, 8, 0.966); 
    scale: 1.05;
}
