img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
img:hover{
    scale: 1.2;
    transition: scale 0.7s;

}

.container{
    display: flex;
    justify-content: center;
    gap: 10px;
}